<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382993704077-j7t0igaq6v27us41vv7k92119gim0vff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382993704077-j7t0igaq6v27us41vv7k92119gim0vff</string>
	<key>API_KEY</key>
	<string>AIzaSyCbbgZme0kky5KLrnfMSi5Mc4D3x4-lVyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>382993704077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appsocial</string>
	<key>PROJECT_ID</key>
	<string>appsocial-a8869</string>
	<key>STORAGE_BUCKET</key>
	<string>appsocial-a8869.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382993704077:ios:585d2d7bad82c71aa72ec4</string>
</dict>
</plist>